In [2]:
import numpy as np
import pandas as pd


d = pd.read_csv("/home/cerebriu/data/RESEARCH/Segmentation_CMB/data/VALDO_processed_v1_metadata.csv")

In [6]:
d.head(5       )

,subject,X_dim,Y_dim,Z_dim,dx,dy,dz,has_nan,nan_percent,pix_mean_val,pix_min_val,pix_man_val,CMB_npix,data_type,orientation,filename,full_path
0,sub-301,166,192,135,1.0,1.0,1.0,False,0.0,88.419965,-342.289093,1518.307861,NaN,float64,"('R', 'A', 'S')",sub-301.nii.gz,/datadrive_m2/jorge/data/VALDO_processed/Data/...
1,sub-301,166,192,135,1.0,1.0,1.0,False,0.0,0.000001,0.000000,1.000000,5.0,float64,"('R', 'A', 'S')",sub-301.nii.gz,/datadrive_m2/jorge/data/VALDO_processed/Data/...
2,sub-104,148,167,147,1.0,1.0,1.0,False,0.0,248.307567,-520.822815,3734.573242,NaN,float64,"('R', 'A', 'S')",sub-104.nii.gz,/datadrive_m2/jorge/data/VALDO_processed/Data/...
3,sub-104,148,167,147,1.0,1.0,1.0,False,0.0,0.000000,0.000000,0.000000,NaN,float64,"('R', 'A', 'S')",sub-104.nii.gz,/datadrive_m2/jorge/data/VALDO_processed/Data/...
4,sub-209,143,172,146,1.0,1.0,1.0,False,0.0,8423.300415,-682.672852,59724.367188,NaN,float64,"('R', 'A', 'S')",sub-209.nii.gz,/datadrive_m2/jorge/data/VALDO_processed/Data/...

In [ ]:
n_tot = 0
n_cmb = 0

for i, row in d.iterrows():
    pix_n = row['X_dim']*row['Y_dim']*row['Z_dim']
    cmb_n = row['CMB_npix']